body {
	background-color: rgba(17, 17, 17, 0.969);
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.25px;
	color: brown;
}
